{% render 'partials/head.liquid', title: 'SnappThis Homepage' %}

  <main>
    {% render 'partials/topbar.liquid', snapmap: snapmap %}

    <article class="group-name">
      <img src="/assets/svg/group_blue.svg">
      <h1>{{ groupName }}</h1> 
    </article>

    <article class="camera-button-container">
      <input type="file" accept="image/*;capture=camera">

        <img src="/assets/svg/camera.svg">
      </button>
    </article>

    <ul class="photo-grid">
      {% for item in snappmaps %}
        {% for snap in item.snaps %}
          {% if snap.picture.id != null %}
            <li>
              <a href="/snapps/snappmap/{{ snap.uuid }}">
                <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}" loading="lazy">
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>

    {% render 'partials/bottombar.liquid' %}
  </main>
</body>